@import url(./components/dialogo.css);
@import url(./components/notificacao.css);
@import url(./components/nav.css);
@import url(./components/scrollbar.css);
@import url(./components/button.css);
@import url(./components/color.css);


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    /* Usando unidade dvh para altura dinâmica */
    display: flex;
    align-items: stretch;
    flex-direction: column;
    /* background: linear-gradient(225deg, #fff7f7, #fdcbcb), url(../img/e.png); */
    background: linear-gradient(135deg, #ffffff, #fff4f4), url(../img/e.png);
    background-blend-mode: overlay;
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

.titulo {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.fundo{
    position: fixed;
    /* width: 100dvw; */
    height: 100dvh;
}
.fundo img{
    height: 100dvh;
}