RewriteEngine On

# Não aplicar a regra a arquivos ou diretórios existentes
# (Note o ESPAÇO antes do!-f e!-d)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar todas as outras requisições para index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]