@import url(./components/forms.css);
@import url(./components/input.css);
@import url(./components/button.css);

.container_login{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100dvh;
    margin: 0px 0px;
}

.titulo_forms{
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    font-family: auto;
    font-weight: bold;
}