/* Estilização do menu mobile */

#menu {
	width: 100vw;
	height: 100vh;
	background-color: #0f172ab3;
	backdrop-filter: blur(4px);
	display: none;
	position: fixed;
	z-index: 1;
}

#btn_menu {
	width: 10vw;
	height: 10vw;
	border: solid 3px var(--primary-color);
	border-radius: 8px;
	padding: 1vw;
	display: none;
	margin-left: 5vw;
}

#btn_menu i {
	font-size: 9vw;
	color: var(--bs-text-color);
	margin-top: 14%;
}

#barra_menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bs-dark);
	height: 100vh;
	width: 75vw;
	position: fixed;
	transform: translateX(-100%);
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

#tema {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

#tema p {
	color: var(--primary-color);
	margin: auto 20px;
}


@keyframes fadeMenu {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (max-width: 768px) {
	#btn_menu {
		display: flex !important;
		justify-content: center;
		align-items: center;
	}

	#div_links {
		flex-direction: column;
		margin-top: 18px;
	}

	#div_links p {
		margin: 15px !important;
		text-align: center;
	}

	#barra_menu #btn_menu {
		width: 10vw;
		height: 10vw;
		margin: 18px -72% 0 0;
	}

	#div_login {
		margin-top: 18px;
	}
}