.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pageInput label {
    font-size: 16px;
    margin-bottom: 5px;
}

.pageInput {
    display: flex;
    justify-content: center;
}

.pageInput input[type="number"] {
    width: 75px;
    padding: 10px 5px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}


/* .pageInput button {
    align-self: center;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
} */


/* Estilo da Tabela */
.table-container {
    width: 100%;
    /* margin: 2rem 0; */
    overflow-x: auto;
    /* Apenas rolagem horizontal */
    overflow-y: hidden;
}

.table-container table {
    /* width: 80dvw; */
    border-collapse: collapse;
    margin-top: 20px;
    

}

.table-container thead tr {
    /* background-color: #28a745; */
    background-color: #F23535;
    color: white;
}

.table-container th,
td {
    padding: 10px 20px;
    text-align: center;
    border: 3px solid #f38f8f;
}

.table-container tbody tr {
    background-color: #eee;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tbody tr:hover {
    /* background-color: #f1f1f1; */
}

/* Ícones */
.table-container td img {
    cursor: pointer;
}

.table-container td a {
    color: #002658;
    text-decoration: none;
}
/* Estilo da Caixa de Diálogo */


@media screen and (max-width: 768px) {
    .table-container table {
        /* width: 100dvw; */
        margin: 0 auto;
    }
}