
/* Arquivo CSS para estilização da página após consultar código do processo*/

/* Retângulo que tem os dados e a foto do paciente */
#div_dados_paciente{
	width: 85%;
	padding: 20px 0 20px;
	background-color: var(--second-color);
  	border-radius: 0px 30px 30px 0px;
	margin-top: 50px;
	display: flex;
  	align-items: center;
}

#foto_paciente{
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin-left: 8%;
	border: solid 5px var(--primary-color);
}

#dados_paciente{
	color: white;
	margin-left: 80px;
	font-size: 18px;
	margin-top: 12px;
}
/* -----------------------------------------------------------*/

/* Título do retângulo de dados do paciente */
h4{
	margin-bottom: 16px;
}
/* -----------------------------------------------------------*/


@media screen and (max-width: 768px) {
	#div_dados_paciente{
		width: 90%;
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	#dados_paciente{
		margin: 40px 15px 0 25px;
	}
	#foto_paciente{
		margin: 15px 0 0 0;
	}
}
