/* Arquivo CSS para estilização da página principal com os processos ativos */

/* Divisão que tem todos os processos ativos */
#processos_ativos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(354px, 1fr));
    gap: 25px;
    margin: 30px 20px 30px 20px;
}
/* -----------------------------------------------------------*/

/* Retângulo do processo ativo */
.processo{
    width: calc(100vw - 40px);
    height: 100%;
    border-radius: 20px;
    background-color: #293075;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}
/* -----------------------------------------------------------*/

/* Dados do processo ativo */
.processo p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 4% 4% 0px 4%;
}
/* -----------------------------------------------------------*/

/* Botões de visualizar e apagar o processo ativo */
.btn_processo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px 15px 25px;
}

/* Botão visualizar o processo ativo */
.btn_processo a{
    text-decoration: none;
}

.btn_processo img{
    cursor: pointer;
}

#btn_visualizar{
    display: flex;
}

#btn_visualizar p{
    font-size: large;
    text-decoration: none;
}
/* ---------------------------------------------------*/

/* Botão de cadastrar processo */
.cadastrar{
    background-color: transparent;
    border: solid 5px var(--primary-color);
}
/* ---------------------------------------------------*/

/* Ícone do botão de cadastrar processo */
.btn_icone{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -26px;
}
.btn_icone i{
    font-size: 100px;
    color: var(--primary-color);
}
/* ---------------------------------------------------*/

/* Texto do botão de cadastrar processo */
.btn_icone a{
    text-decoration: none;
}

.btn_icone p{
    color: var(--primary-color);
    margin-bottom: -20px;
    margin-top: -20px;
}
/* ---------------------------------------------------*/

