/* Arquivo CSS para estilização da página de login do sistema*/

/* Div com tudo do login */
#container_login {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  background-color: var(--background-light);
}
/* -----------------------------------------------------------*/

/* Logo Health Track */
#logo {
  width: 50vw;
  margin-bottom: 2.5rem;
}
/* -----------------------------------------------------------*/

/* Botão toggle para consultar e login */
.switch {
  position: relative;
  width: 280px;
  height: 45px;
  display: block;

}

.switch input {
  display: none;
}

input:checked+.slider::before {
  -webkit-transform: translateX(138px);
  -ms-transform: translateX(138px);
  transform: translateX(138px);
}

input:checked+.slider .off {
  color: var(--primary-color);
}

input:checked+.slider .on {
  color: white;
  border-radius: 12px;
}

.slider .slider_text .on {
  color: var(--primary-color);
}

.slider.round {
  border-radius: 12px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .6s;
  transition: .6s;
  border: 3px solid var(--primary-color);
  border-radius: 12px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color);
  -webkit-transition: .6s;
  transition: .6s;
  border-radius: 8px;
}

.slider_text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
}

.slider_text>span {
  color: white;
  font-size: 18px;
  width: 50%;
  display: block;
  float: left;
  -webkit-transition: .6s;
  transition: .6s;
}
/* -----------------------------------------------------------*/

/* Botão de Login */
.entrar {
  width: 35%;
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-size: 1.3rem;
  padding: 0.5rem 0px;
  margin-top: 30px;
  border-radius: 12px;
  cursor: pointer;
}
/* -----------------------------------------------------------*/

/* Campos de email e senha do usuario */
#campos_login {
  display: none;
  text-align: center;
}
/* -----------------------------------------------------------*/

/* Campo do codigo de consulta do paciente */
#campo_consultar {
  display: block;
}
/* -----------------------------------------------------------*/

/* Texto com link de esqueceu a senha */
p {
  color: var(--primary-color);
  text-align: start;
  margin: 12px 0 0 8px;
}

a {
  text-decoration: none;
}
/* -----------------------------------------------------------*/

/* Modificação das caixas de texto */
.label-float label {
  top: 31px;
}

.forms input {
  height: 42px;
}
/* -----------------------------------------------------------*/

@media screen and (max-width: 768px) {
  #logo {
    width: 85vw !important;
  }
}