/* Estilização da imagem de bem-vindo */

#div_bemvindo {
	margin: 30px auto 0px auto;
    width: 95vw;
    height: 23vw;
    background-color: #cde1e0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#div_bemvindo h1 {
    font-size: 3.8vw;
    font-weight: 800;
    font-family: Helvetica;
    color: var(--primary-color);
    margin: 4.8% 0px 0px 9.4%;
}

#div_bemvindo span{
    animation: mudacor 50s infinite;
    transition: color 1s ease-in-out;
}

#div_bemvindo img{
	height: 100%;
    margin-right: 8.4%;
}

@keyframes mudacor {
	0% {
		color: var(--second-color);
	  }
	  33% {
		color: var(--fourth-color);
	  }
	  66% {
		color: var(--third-color);
	  }
	  100% {
		color: var(--second-color);
	  }
}


@media screen and (max-width: 768px) {
  #div_bemvindo {
      height: auto;
      width: 90vw;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
  }
  #div_bemvindo img{
    width: 85%;
    margin: 0;
    
  }
  #div_bemvindo h1{
    font-size: 12vw;
    padding: 25px;
    margin: 0;
  }
}