/* Estilização do botão base*/

.btn_padrao{
	min-width: 145px;
	max-width: fit-content;
	height: 45px;
	border-radius: 12px;
	background-color: var(--primary-color);
	color: white;
	padding: 0px 15px 0px 15px;
	cursor: pointer;
}

.cancelar{
	background-color: var(--fourth-color);
}

form button{
    margin: 28px;
}