/* Estilização do cabeçalho da página */

@import url("menu.css");
@import url("tema.css");
@import url("rodape.css");

/* Borda do cabeçalho */
nav{
	border-bottom: solid 3px var(--primary-color);
}
/* -----------------------------------------------------------*/

/* Logo bo cabeçalho */
#logo{
	margin: 14px;
}
/* -----------------------------------------------------------*/

/* link para páginas no cabeçalho */
#div_links{
	display: flex;
}

#div_links p{
	margin: 0;
    color: var(--primary-color);
    margin-left: 15px;
}

#div_links a{
	text-decoration: none;
}

#barra_menu button{
	margin-top: 20px;
}
/* -----------------------------------------------------------*/

/* Foto e nome usuário no cabeçalho */

#div_login{
	text-align: right;
	display: flex;
	align-items: center;
}

#div_login img{
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: solid 2px var(--primary-color);
	display: flex;
	justify-content: center;
	margin-left: 22px;
}

#div_login p{
	margin: auto 20px auto 10px;
	color: var(--primary-color);
}

/* -----------------------------------------------------------*/


@media screen and (max-width: 768px) {
    nav div{
		display: none !important;
		
    }

    #logo img{
        width: auto;
        height: 11vw;
    }
	
    #logo{
        margin: 1.5vh auto 1.5vh auto;
    }
}