/* Menu flutuante ao clicar na divisão de usuário logado no cabeçalho */

#dropdown{
    flex-direction: column;
    position: absolute;
    right: 14px;
    top: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 3.75px 2.75px var(--primary-color);
    display: none ;
}

#dropdown button{
    margin: 10px;
}