/* Estilização das caixas de texto e pesquisa */

.forms{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forms input,
.forms input{  
	border: 3px solid var(--primary-color);
	border-radius: 12px;
	font-size: 18px;
	padding-left: 12px;
	animation-duration: 5s;
	outline: none;
	width: 300px;
	height: 45px;
	position: relative;
}

.forms textarea{
	border: 3px solid var(--primary-color);
	border-radius: 12px;
	font-size: 18px;
	padding-left: 12px;
	padding-right: 12px;
	animation-duration: 5s;
	outline: none;
	width: 300px;
	position: relative;
}

.label-float{
	position: relative;
	padding-top: 24px;
	display: flex;
	margin-top: 7px;
	color: var(--primary-color);
}
	
.label-float input, .forms textarea{
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
}
	  
.label-float input::placeholder,
.label-float textarea::placeholder{
	color:transparent;
}

.label-float label{
	pointer-events: none;
	position: absolute;
	margin: inherit;
	top: 28px;
	left: 25px;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
}
	  
.label-float input:required:invalid + label::after,
.label-float textarea:required:invalid + label::after {
	color: red;
    content: ' *';
    position: relative;
    top: 4px;
}

.label-float input:read-only,
.label-float textarea:read-only{
	background-color: #d2d2e0;
}

.label-float input:focus:not(:read-only),
.label-float textarea:focus:not(:read-only){
	background-color: var(--focus-color);
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label,
.label-float textarea:focus + label,
.label-float textarea:not(:placeholder-shown) + label{
	font-size: 1rem;
	top: -6px;
	color: var(--primary-color);
}
	

#div_pesq_cadastro{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin: 0px 40px 40px 40px;
}

.div_pesquisa{
	text-align: center;
	margin-bottom: 15px;
}

.div_pesquisa button, #div_pesq_cadastro .label-float button{
	width: 50px;
	background-color: var(--primary-color);
	color: white;
	border-radius: 0px 12px 12px 0px;
	border: 2px solid var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 0 -10px;
	cursor: pointer;
}

.div_pesquisa i, #div_pesq_cadastro i{
	font-size: 22px;
	margin-left: 8px;
}


@media screen and (max-width: 768px) {
    #div_pesq_cadastro{
        flex-direction: column;
		align-items: center;
		margin-top: 25px;
    }
	.forms input{
		width: 78vw;
	}
	.forms textarea{
		width: 78vw;
	}
}