/* Estilização do processo do paciente */

#processo_paciente{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 40px auto 75px auto;	
}

#linha{
	width: 4px;
	height: calc(100% - 14px) !important;
	background-color: var(--second-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 164px;
}

.item{
	display: flex;
	align-items: center;
	margin: 60px 0 0 162px;
}

#itens{
	margin: -66px 0 -45px;
}

.circulo{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -39px;
}

.circulo i{
	font-size: 35px;
	color: white;
}

.texto_circulo{
	margin-left: 18px;
	white-space: nowrap;
	color: var(--bs-text-color);
}

.texto_circulo p{
	margin: 0;
}

.btn_detalhes{
	background-color: transparent;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	margin-left: 8px;
}

.btn_detalhes i{
	font-size: 26px;
	margin-right: 6px;
	color: var(--primary-color);
}

a{
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.circulo [class^="bi-"]::before{
		vertical-align: -0.180em;
	}
  }
