/* Estilização da caixa de seleção (lista de itens)*/

.select{
	width: 300px;
	color: var(--primary-color);
	background-color: white;
	border: solid 3px var(--primary-color);
	border-radius: 10px;
	padding: 10px;
	margin-top: 31px;
	cursor: pointer;
	outline: none;
}

.select:required + label::after {
	color: red;
    content: ' *';
    position: relative;
    top: 4px;
}

.select:focus{
	background-color: var(--focus-color);
}

.select option{
	font-size: 18px;
}

.select option:checked{
	color: white;
	background-color: var(--third-color);
}

@media screen and (max-width: 768px) {
	.select {
	  width: 78vw;
	}
  }


  