.case-button button {
    align-self: center;
    /* background-color: #fff; */
    /* color: #F23535; */
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
    position: relative;

}

.case-button button:hover {
    /* background-color: #b92929; */
    /* color: #fff; */
}

.case-button button{
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 2px black;
}

.case-button:active button{
    left: 2px;
    top: 2px;
    box-shadow: -2px -2px black;
}

